{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'mainApp/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'mainApp/images/icon/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'mainApp/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/js/lowStock.js' %}">
    <link rel="stylesheet" href="{% static 'mainApp/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/metisMenu.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/slicknav.min.css' %}">
    <!-- amcharts css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
    <!-- Start datatable css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'mainApp/typography.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/default-css.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/styles.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- modernizr css -->
    <script src="{% static 'mainApp/js/vendor/modernizr-2.8.3.min.js' %}"></script>

    <script src="{% static 'mainApp/js/lowStock.js' %}"></script>
    <script src="{% static 'mainApp/js/user.js' %}"></script>



    {% if title %}
        <title>Shelf Sense - {{ title }}</title>
    {% else %}
        <title>Shelf Sense</title>
    {% endif %}
</head>
<body>





<div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="index.html"><img src="{% static 'mainApp/images/icon/logo.png' %}" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="active"><a href="{% url 'home' %}"><i class="fas fa-table"></i><span>Dashboard</span></a></li>
                            <li>
                                <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-table"></i>
                                    <span>Set Up</span></a>
                                <ul class="collapse">
                                    <li><a href="{% url 'register_product' %}">Product Registration</a></li>
                                    <li><a href="{% url 'setupdevice' %}">Unit Set Up</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Dashboard</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="index.html">Home</a></li>
                                <li><span>Datatable</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                           <a href="/user"><img class="avatar user-thumb" src="{% static 'mainApp/images/author/avatar.png' %}" alt="avatar" id ="user"></a>
                           <!-- <h4 class="user-name dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Log Out</a>
                            </div> -->
                            <span class = "hello-msg">HELLO, {{request.user}}</span>
                            <span><a href="/logout">Log Out</a></span>
                        </div>
                    </div>
                </div>
            </div>


{% block content %}{% endblock %}


</body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'mainApp/forms.js' %}"></script>
<script type="text/javascript" src="{% static 'mainApp/js/loader.js' %}"></script>
<script type="text/javascript" src="{% static 'mainApp/js/productTable.js' %}"></script>


<!-- jquery latest version -->
<script src="{% static 'mainApp/js/vendor/jquery-2.2.4.min.js' %}"></script>

<!-- bootstrap 4 js -->
<script src="{% static 'mainApp/js/popper.min.js' %}"></script>
<script src="{% static 'mainApp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'mainApp/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'mainApp/js/metisMenu.min.js' %}"></script>
<script src="{% static 'mainApp/js/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'mainApp/js/jquery.slicknav.min.js' %}"></script>

<!-- Start datatable js -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<!-- others plugins -->
<script src="{% static 'mainApp/js/plugins.js' %}"></script>
<script src="{% static 'mainApp/js/scripts.js' %}"></script>
</body>
</html>



