<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>


{% extends "mainApp/base.html" %}{% block content %}
{% load static %}
<script>
    var trendDownIcon = "{% static "mainApp/images/icon/market-value/trends-down-icon.png" %}";
    console.log("aa");
    console.log(trendDownIcon);
</script>

<!-- page title area end -->
<div class="main-content-inner">
    <div class="row">
        <!-- Primary table start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Data Table Primary</h4>
                    <div class="data-tables datatable-primary">
                        <table id="dataTable2" class="text-center">
                            <thead class="text-capitalize">
                                <tr>
                                    <th>Brand Name</th>
                                    <th>Product</th>
                                    <th>Barcode</th>
                                    <th>Quantity</th>
                                    <th>Location</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Primary table end -->
        
        <!-- Low Stock Section Start -->
        <div class="row mt-5 mb-5 col-lg-12">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-sm-flex justify-content-between align-items-center">
                            <h4 class="header-title mb-0" >Currently Low Stock Levels</h4>
                        </div>
                        <div class="market-status-table mt-4" >
                            <div class="table-responsive" >
                                <table class="dbkit-table" id="lowStock">

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Low Stock Section End -->
        
    </div>
</div>
</div>
<!-- main content area end -->
<!-- footer area start-->
<footer>
<div class="footer-area">
    <p>ShelfSense© Copyright 2020. All right reserved.</p>
</div>
</footer>
<!-- footer area end-->
</div>
<!-- page container area end -->

{% endblock content %}

<script type="text/javascript">
    function noLoader(){
        setTimeout(function () {
            document.getElementById('preloader').style.display = "none"
            alert("done")
        }, 1000);
    }

    nonLoader();


</script>
