{% extends "mainApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	
	<h1>Register a Product</h1>

	{% if messages %}
    	{% for message in messages %}
    		<div class="alert alert-{{ message.tags }}">
        		{{ message }}
      		</div>
    	{% endfor %}
  	{% endif %}

  	{% if check_form %}
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Check if product is in database</legend>
					{{ check_form | crispy }}
				</fieldset>
				<div class="form-group">
	                <button class="btn btn-outline-info" type="submit" name="barcode_check">Check Barcode</button>
	            </div>
			</form>
		</div>
	{% endif %}

  	{% if form %}
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Add product to database</legend>
					{{ form|crispy }}
					<!-- <button type="submit" name="run_script">Run script</button> -->
				</fieldset>
				<div class="form-group">
	                <button class="btn btn-outline-info" type="submit" name="run_script">Get Product Weight</button>
	            </div>
			</form>
		</div>
	{% endif %}

{% endblock content %}
