{% extends "mainApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	
	<!-- <h3 class="registerProduct">Register a Product</h3> -->

	{% if messages %}
    	{% for message in messages %}
    		<div class="alert alert-{{ message.tags }}">
        		{{ message }}
      		</div>
    	{% endfor %}
  	{% endif %}

  	{% if check_form %}
		<div class="content-section checkBarcode">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Check if product is already registered</legend>
					{{ check_form | crispy }}
				</fieldset>
				<div class="form-group barcodebtncont">
	                <button class="barcodebtn" type="submit" name="barcode_check">Check Barcode</button>
	            </div>
			</form>
		</div>
	{% endif %}

  	{% if form %}
		<div class="content-section checkBarcode2">
			<form method="POST" id="innerForm">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Add product to database</legend>
					{{ form|crispy }}
					<!-- <button type="submit" name="run_script">Run script</button> -->
				</fieldset>
				<div class="form-group barcodebtncont">
					<p class="btnnotice"> Press the button below, wait 5 seconds and place product on the unit until notice to remove appears </p>
	                <button class="registerbtn" type="submit" name="run_script" id="registerbtn">Get Product Weight</button>
	            </div>
			</form>
		</div>
	{% endif %}

{% endblock content %}
