{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ShelfSense - Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="{% static 'mainApp/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/metisMenu.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/slicknav.min.css' %}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{% static 'mainApp/typography.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/default-css.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/styles.css' %}">
    <link rel="stylesheet" href="{% static 'mainApp/responsive.css' %}">
    <!-- modernizr css -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'mainApp/images/icon/tab.png' %}">
</head>

<body>
    <div class="login-area">
        <div class="container">
            <div class="login-box ptb--100">
                <form role="form" method="post" action="">
                    {% csrf_token %}
                    <div class="login-form-head">
                        <h4>Register</h4>
                        <p>Hey there, register here to get started with some awesome analytics</p>
                    </div>
                    <div class="login-form-body">
                        <div class="form-gp">
                            {% if msg %}
                            <span class="text-danger">{{ msg }}</span>
                            {% endif %}
                            <p>Username<i class="fa fa-user" aria-hidden="true"></i></p>
                            <span class="text-danger">{{ form.username.errors }}</span>
                            {{ form.username }}
                        </div>
                        <div class="form-gp">
                            <p>Email <i class="fa fa-envelope" aria-hidden="true"></i></p>
                             <span class="text-danger">{{ form.email.errors }}</span>
                            {{ form.email }}
                            <div class="text-danger"></div>
                        </div>
                        <div class="form-gp">
                            <p>Password<i class="fa fa-lock" aria-hidden="true"></i></p>
                             <span class="text-danger">{{ form.password1.errors }}</span>
                            {{ form.password1 }}
                            <div class="text-danger"></div>
                        </div>
                         <div class="form-gp">
                            <p>Repeat Password<i class="fa fa-lock" aria-hidden="true"></i></p>
                             <span class="text-danger">{{ form.password2.errors }}</span>
                            {{ form.password2 }}
                            <div class="text-danger"></div>
                        </div>
                        <div class="submit-btn-area">
                            <button type="submit" name="register">Submit <i class="fa fa-arrow-right"></i></button>
                        </div>
                        <div class="form-footer text-center mt-5">
                            <p class="text-muted">Already have an account? <a href="{% url 'login' %} ">Login here</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->

    <!-- jquery latest version -->
    <script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/jquery.slimscroll.min.js"></script>
    <script src="assets/js/jquery.slicknav.min.js"></script>
    
    <!-- others plugins -->
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/scripts.js"></script>
</body>

</html>


              
                