{% extends "mainApp/base.html" %}
{% block content %}

<h1> Follow the instructions below to begin monitoring products </h1>

<div class="form-style-8">
	<form id="monitorForm">
		<input type="text" name="field1" placeholder="Enter the location code..." id="locationCode"/>
	    <input type="text" name="field2" placeholder="Enter First Product Barcode..." id="barcode1"/>
	    <input type="text" name="field3" placeholder="Enter Second Product Barcode..." id="barcode2"/>
	    <input type="text" name="field4" placeholder="Enter Third Product Barcode..." id="barcode3"/>
	    <input type="text" name="field5" placeholder="Enter Fourth Product Barcode..." id="barcode4"/>
	    <input type="text" name="field6" placeholder="Enter Fifth Product Barcode..." id="barcode5"/>
	</form>
</div>

{% endblock content %}