body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/*Form styling */

.form-style-8{
  font-family: 'Open Sans Condensed', arial, sans;
  width: 500px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
  background: #4D4D4D;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #797979;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}
.form-style-8 textarea{
  resize:none;
  overflow: hidden;
}
/*.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
  -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  box-shadow: inset 0px 1px 0px 0px #45D6D6;
  background-color: #2CBBBB;
  border: 1px solid #27A0A0;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
  background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
  background-color:#34CACA;
}*/

#barcode1, #barcode2, #barcode3, #barcode4, #barcode5, #startbtn, #addbtn{
  display: none;
}


.formTitle{
    margin-bottom: 20px;
}

.form-style-8{
    width: 80%;
}

.notRecognized{
    display: none;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
}

.buttonContainer{
    text-align: center;
}

#addbtn, #startbtn{
    margin-top: 20px;
   /* position: absolute;*/
    top: 50%;
    left: 50%;

}

#addbtn{
  padding: 1.375rem 2.625rem 1.375rem 2.625rem;
  border: 0.125rem solid #303641;
  border-radius: 2rem;
  background-color: #303641;
  color: #fff;
  font: 700 0.875rem/0 "Open Sans", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
  margin-left: 20px;
}

#addbtn:hover{
  background-color: transparent;
  color: #5f4dee;
  text-decoration: none;
}

#startbtn{
  padding: 1.375rem 2.625rem 1.375rem 2.625rem;
  border: 0.125rem solid #5f4dee;
  border-radius: 2rem;
  background-color: #5f4dee;
  color: #fff;
  font: 700 0.875rem/0 "Open Sans", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
  margin-right:20px;
}

#startbtn:hover{
  background-color: transparent;
  color: #5f4dee;
  text-decoration: none;
}

.registerProduct{
  margin-top:10px;
  margin-bottom: 10px;
}

.checkBarcode{
  margin-top: 100px;
  width: 80%;
  margin-left: 10%;
}

.checkBarcode2{
  margin-top: 30px;
  width: 80%;
  margin-left: 10%;
}

.barcodebtn, .registerbtn{
  padding: 1.375rem 2.625rem 1.375rem 2.625rem;
  border: 0.125rem solid #5f4dee;
  border-radius: 2rem;
  background-color: #5f4dee;
  color: #fff;
  font: 700 0.875rem/0 "Open Sans", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
  margin-right:20px;
}

.barcodebtncont{
  text-align: center;
}

.btnnotice{
  margin-top:5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.alert-warning{
  font-weight:bold;
}

.logoh{
  font-weight: bold;
  color:#fff;
}

